body {
  overflow: hidden;
  background-image: url("../images/backgroundSat.jpg");
}

ul {
  list-style: none;
  padding:0;
}

li {
  color: #3085D6;
  display: inline-block;
  font-family: 'Ovo', serif;
  font-size: 40px;
  font-weight: bold;
  margin: 10% 5px;
}

#welcomeMessage {
  margin-top: 20%;
  text-align: center;
}
