/*region Hero Title and Subtitle styles */
.hero .title {
    font-size: 2.6rem;
}

.subtitle.profession {
    font-size: 1.0rem;
}

h1.title {
    font-size: 1.4rem !important;
    font-weight: 600;
    letter-spacing:0.1rem !important;
}

@media screen and (min-width: 768px) {
    .hero .title {
        font-size: 3rem;
    }
}

@media screen and (min-width: 1024px) {
    .hero .title {
        font-size: 5rem;
    }

    .subtitle.profession {
        font-size: 1.6rem;
    }

    h1.title {
        font-size: 1.6rem !important;
        letter-spacing: 0.2rem !important;
    }
}

@media screen and (min-width: 1440px) {
    .hero .title {
        font-size: 6rem;
    }

    .subtitle.profession {
        font-size: 2rem;
    }

    h1.title {
        font-size: 1.75rem !important;
        letter-spacing: 0.4rem !important;
    }
}
/*endregion*/

/*region Footer and toTop button styles*/
button#toTop {
    margin: 5vh;
}

.footer {
    height: 5vh;
}

.footer p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 0.75rem;
}

@media screen and (min-width: 1024px) {
    /* Places the back to top icon a bit above the footer */
    button#toTop {
        margin: 3.5vh;
    }

    /* Thinner footer */
    .footer {
        height: 3vh;
    }

    .footer p {
        font-size: 10px !important;
    }
}
/*endregion*/

/*region Paragraph styles*/


/* Make Montserrat bold */
p {
    font-size: 1.0rem;
    text-align: justify;
    text-justify: inter-word;
}

p.is-larger {
    font-weight: 600;
}

@media screen and (min-width: 1024px) {
    p.is-larger{
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 1440px) {
    p.is-larger{
        font-size: 1.4rem;
    }
}
/*endregion*/