/* Make Montserrat bold */
p.is-larger {
    font-weight: 600;
    letter-spacing: 0.1rem;
}

/*Prettify titles and subtiles */
h1.title {
    letter-spacing: 0.4rem;
}

/* Places the back to top icon a bit above the footer */
button#toTop {
    margin: 3.5vh;
}

/* Thinner footer */
.footer {
    height: 3vh;
}

/* Make footer as small as possible without sacrificing readability */
.footer p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 10px;
}

@media screen and (max-width: 384px){
    .hero .title {
        font-size: 2rem;
    }
}

@media screen and (min-width: 385px) and (max-width: 499px){
    .hero .title {
        font-size: 3rem;
    }
}

@media screen and (max-width: 829px) {
    .subtitle.profession {
        font-size: 1rem;
    }
}

@media screen and (min-width: 830px) and (max-width: 934px){
    .subtitle.profession {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 500px) and (max-width: 950px){
    .hero .title {
        font-size: 4rem;
    }
}


/* Make about me section prettier, but possibly harder to read on some devices using justify */
@media screen and (min-width: 768px) {
    p {
        text-align: justify;
        text-justify: inter-word;
    }
}